body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #3c6e71;
}

h1 {
    font-family: monospace;
    color: #272626;
}

li{
    color: #d9d9d9;
    font-size: larger;
    font-weight: bold;
}

img{
    border: 7px solid black;
    border-radius: 10px;
    
}